@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    text-decoration: 0px;
}

nav{
    background-color: black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    position: fixed;
}

nav>a{
    padding: 30px;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;    
}

nav>a:hover{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 800;
    font-size: 20px; 
    transition-duration: .5s;
}

nav:hover{
    background-color: #294B2B;
    transition-duration: .5s;
}

#banner-1{
    width: 100%;
    height: 780px;
    background-image: url(../imagens/bg-1-pc-fundo.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#banner-texto{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 250px;
}

#atributos{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

div#atributos>img{
    padding-right: 25px;
    border-right: 3px solid black ;
}

#texto-atributos {
    padding-left: 25px;
}

#titulo-atributos {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 600px;
    font-size: 30px;
    line-height: 39px;
}

#texto-meio-atributos {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 400px;
    font-size: 21px;
    line-height: 29px;
}

#texto-final-atributos {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 500px;
    font-size: 21px;
    line-height: 29px;
}

#banner-2{
    width: 100%;
    height: 700px;
    background-image: url(../imagens/bg-2-pc.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#produtos{
    margin: 100px 0px;
}

.linhas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 150px;
}

.retangulo{
    display: flex;
    flex-direction: column;
    margin: 30px 0px 30px 0px;
}

.botao{
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 25px;
    margin: 30px;
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 600px;
    font-size: 18px;
    line-height: 28px;
}

.botao:hover{
    background-color: #294B2B;
    color: white;
    border: 2px solid #294B2B;
    border-radius: 25px;
    margin: 30px;
    transition-duration: .5s;
}

.retangulo>img{
    padding: 25px;
    border: 3px solid black;
    border-radius: 30px;
}


footer{
    background-color: black;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: space-around;
    align-items: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

footer>a{
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 400px;
    font-size: 18px;
    line-height: 28px;
}