@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    text-decoration: 0px;
}

nav{
    background-color: black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: fixed;
}

nav>a{
    padding: 30px;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 21;
    line-height: 28px;    
}

nav>a:hover{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 800; 
}

nav:hover{
    background-color: #294B2B;
    transition-duration: .5s;
}

#banner-1{
    width: 100%;
    height: 780px;
    background-image: url(../imagens/bg-1-pc-fundo.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#banner-texto{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 250px;
}